body {
    background-color: #F2EDEB;
}

.join_room_response,
.left_room_response {
    background-color: rgb(202, 194, 194);    
}

.send_message_response {
    font-size:125%;
    margin: 1px 1px 1px 1px;
    color: rgb(0, 0, 0);
}
.chatbox {
    background-color: #E8E7E7;
    height: 500px;
    overflow-y: auto;
    margin: 0% 20% 0% 10%;


}
.chatheader {
    color: white;
    background-color: #F05365;
    height:50px;
    margin: 5% 10% 0% 10%;
    border-radius: 10px 10px 0px 0px;


}
.chatmessager {
    background-color: #F05365;
    margin: 0% 10% 0% 10%;
    border-radius: 0px 0px 10px 10px;

}

.playersbox {
    background-color:#925E78;
    height: 500px;
    margin: 5% 5% 0% 10%;
    border-radius: 10px 10px 10px 10px;
    align-content: left;
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
